@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Playpen+Sans:wght@100..800&display=swap');


:root {
    --font1: "Playpen Sans", cursive;
    --font2: "Dosis", cursive;
    
    --cor1: #f0c9d3b8;
    --cor2: #D94EB4;
    --cor3: #e89bcd;
}

body {
    background-color: var(--cor1);
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--cor3);
    text-align: center;
    height: 70px;
    line-height: 58px;
}

header > h1 {
    font-family: var(--font1);
    font-variant: small-caps;
    padding: 5px;
    font-size: 2.3em;
}

.img {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset -1px -1px 5px 3px rgba(0, 0, 0, 0.39);
}

#one {
    background-image: url(images/pic1.jpg)
}

#two {
    background-image: url(images/pic2.jpg);
}

#three {
    background-image: url(images/pic3.jpg);
}

.text {
    font-family: var(--font2);
    height: 100vh;
    position: relative;
    padding: 10px;
}

.text > p {
    max-width: 400px;
    font-size: 1.8em;
    line-height: 1.8em;
    text-indent: 12px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    padding: 14px;
    border-radius: 15px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.267);
}

footer {
    background-color: var(--cor3);
    font-family: var(--font1);
    font-size: 3em;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

footer > p {
    padding: 5px;
}

svg {
    fill: transparent;
    stroke: black;
    stroke-dasharray: 54;
    stroke-dashoffset: 54;
    animation: heart 5s linear infinite;
}

@keyframes heart {
    0% {
        stroke-dashoffset: 54;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@media only screen and (min-width:820px) {
    #one {
        background-position: center right;
    }


    #two {
        background-position: top center;
    }
}